
<div class="visually-hidden" role="alert" aria-live="assertive">
  Página de acerca de
</div>
<article>
  <div class="banner">
    <div class="banner-filter"></div>
    <div class="banner-content">
      <h1 #aboutUsTitleId>{{this.title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="text">
        <p>Somos una firma líder especializada en la visualización de datos económicos, proporcionando análisis detallados sobre la balanza comercial, importaciones y exportaciones de Costa Rica. Utilizamos herramientas avanzadas de gráficos para transformar datos complejos en información clara y accesible, ayudando a nuestros clientes a tomar decisiones informadas y estratégicas en el ámbito del comercio internacional.</p>
        <p>Nuestros servicios están diseñados para satisfacer las necesidades de empresas de diversos sectores, brindando insights valiosos a través de herramientas avanzadas de visualización de datos. Al combinar tecnología de vanguardia con un profundo conocimiento del comercio global, Balance360 se posiciona como un socio confiable para aquellos que buscan optimizar sus operaciones comerciales y mantener una ventaja competitiva en el mercado global.</p>
        <p>Pon tu confianza en nosotros para obtener información confiable y estratégica que transforme tus estrategias comerciales y te mantenga a la vanguardia en un mercado competitivo global.</p>
      </div>
    </div>
    <div class="column">
      <button class="button" (click)="redirectToURL('statistics')">
        <!-- <a href="/contact"></a> -->
        ¡Empiece Ahora!
      </button>
    </div>
  </div>
</article>
