<div class="visually-hidden" role="alert" aria-live="assertive">
  Página de estadísticas
</div>
<div class="banner">
  <div class="banner-filter"></div>
  <div class="banner-content">
    <h1 class="h1-space" #statsNavMenuId>
      Estadísticas
    </h1>
  </div>
</div>
<article class="v-statistics">
  <div class="center-all">
    <div>
      <app-tab-list [list]="navItems" (selectedItem)="getSelectedSection($event)"></app-tab-list>
      <div class="space-after"></div>
      <router-outlet></router-outlet>
    </div>
  </div>
</article>