<div class="visually-hidden" role="alert" aria-live="assertive">
  Página de contáctenos
</div>

<article>
  <div class="banner">
    <div class="banner-filter"></div>
    <div class="banner-content">
       <h1 #contactTitleId> Contáctenos </h1>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="text">
        <h2 class="text-title">Visítenos o contáctenos en Balance360</h2>
        <p>Nos encontramos en los Ángeles de San Rafael de Heredia, una ubicación de fácil acceso para todos nuestros clientes. Nuestra oficina está equipada con todas las comodidades necesarias para ofrecerle la mejor atención. No dude en visitarnos durante nuestro horario de atención o ponerse en contacto con nosotros a través de los siguientes medios:</p>
      </div>
    </div>
    <div class="column">
      <div class="button-container">
        <div class="button-item">
          <div aria-hidden="true" class="button">
            <img src="assets/images/phone.png" alt="ícono Teléfono" class="button-icon">
          </div>
          <div class="button-info">
            <h3>Teléfono: </h3>
            <p>+506 1234-5678</p>
          </div>
        </div>
        <div class="button-item">
          <div aria-hidden="true" class="button">
            <img src="assets/images/email.png" alt="ícono Correo electrónico" class="button-icon">
          </div>
          <div class="button-info">
            <h3>Correo Electrónico:</h3>
            <p>
              <a #emailTo href="mailto:email@example.com">{{'info@balance360.com'}}</a>
            </p>
          </div>
        </div>
        <div class="button-item">
          <div aria-hidden="true" class="button">
            <img src="assets/images/clock.png" alt="ícono Hora de atención" class="button-icon">
          </div>
          <div class="button-info">
            <h3>Horario de Atención:</h3>
            <p>Lunes a Viernes, de 9:00 a.m. a 5:00 p.m</p>
          </div>
        </div>
        <div class="button-item">
          <div aria-hidden="true" class="button">
            <img src="assets/images/location.png" alt="ícono Dirección" class="button-icon">
          </div>
          <div class="button-info">
            <h3>Dirección:</h3>
            <p>300 norte de la Iglesia de Los Ángeles, Heredia, Costa Rica</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
