<div class="visually-hidden" role="alert" aria-live="assertive">
  Página de inicio
</div>

<article>
  <div class="banner">
    <div class="banner-filter"></div>
    <div class="banner-content">
      <h1 aria-label="Conoce. Analiza. Decide." #contactTitleId> 
        Conoce. Analiza. <br>
        Decide.
      </h1>
       
       <button class="button" (click)="redirectToURL('statistics')">
        ¡Empiece Ahora!
      </button>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="text">
        <p>Balance360 es su herramienta para analizar el comercio internacional de Costa Rica. Obtenga una visión completa de importaciones, exportaciones y balanza comercial. La aplicación es intuitiva y fácil de usar, ofreciendo datos precisos y actualizados.</p>
      </div>
    </div>
    <div class="column">
      <button class="button" (click)="redirectToURL('about-us')">
        Más información
      </button>
    </div>
  </div>
</article>

